@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}

@font-face {
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    src: local('Homemade Apple'), local('HomemadeApple'), url(http://themes.googleusercontent.com/static/fonts/homemadeapple/v3/yg3UMEsefgZ8IHz_ryz86Kmk7U3V72hKgu0Yds_deA8.woff) format('woff');
}

body {
    font-family: PT Sans;
    background-color: #f5f5f5;
}
.menu-box {
    width: 940px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -470px;
}
h1 {
    font-weight: normal;
    margin: 20px 0 10px 0;
}
.logo > .text {
    display: none;
}
.logo:hover {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    top:0;
    width: auto;
}

.form-horizontal textarea {
    height: 60px;
    width: 80%;
}

.row {
    margin-bottom: 50px;
}

.box-yellow {
    background-color: #ffeebb;
}

.box-blue {
    background-color: #e5eef8;
}

.box-title {
    color: #094ba4;
}
.box-text {
    font-size: 14px;
    line-height: 26px;
    padding: 10px 0;
}
.box-text.back {
    padding: 20px;
    height: 120px;
}
.box-yellow > .text-top {
    color: #5b4401;
    font-size: 18pt;
    margin-bottom: 20px;
}
.box-yellow > .text-bottom {
    color: #c59919;
    font-size: 18pt;
}
.box-blue > .text-top {
    color: #094ba4;
    font-size: 18pt;
}
.box-blue > .text-bottom {
    color: #3389fe;
    font-size: 18pt;
}

.small {
    margin-left: 10px;
    color: #6fa8e7;
}

.button {
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 2px;
    display: inline-block;
}
.button.over {
    margin-right: 15px;
    margin-top: -15px;
}

.button:hover, .button:visited, .button:link {
    text-decoration: none;
    color: white;
}

.button-yellow {
    background-color: #ffbe00;
}
.button-yellow:hover {
    background-color: #FFAD00;
}

.button-blue {
    background-color: #094ba4;
}
.button-blue:hover {
    background-color: #093E7C;
}

footer {
    min-width: 940px;
    width: 100%;
    background-color: #094ba4;
    color: white;
    margin: 30px 0 0 0;
}
footer ul {
    list-style: none;
}
footer > ul li {
    float: right;
}
footer ul li a {
    color: white;
    line-height: 35px;
    padding: 0 10px;
    display: inline-block;
}
footer ul li a:hover {
    background-color: #6FA8E7;
    text-decoration: none;
}

footer .rights {
    color: #5689c8;
    line-height: 35px;
    margin: 0 0 0 10px
}
footer .builder:hover {
    color: white;
    text-decoration: none;
}
.menu-box ul li ul {
    position: absolute;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    background-color: white;
    opacity: 0;
    left: -999em;
    -webkit-transition: left 0 ease 0.3s,opacity 0.3s ease;
    margin: 0;
}
.menu-box ul li:hover ul {
    opacity: 1;
    left: 0;
    -webkit-transition:opacity 0.3s ease;
}
.menu-box ul li:hover {
    background-color: white;
}
.menu-box li {
    list-style: none;
}

.menu-box ul li {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.menu {
    position: relative;
}
.menu a {
    display: block;
    margin: 0;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 16px;
}
.menu-normal a {
    display: block;
    margin: 0;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.menu-normal:hover a{
    color: #094ba4;
}

.menu:hover > a {
    color: #094ba4;
}

.menu > a {
    color: white;
    padding: 5px 30px 5px 15px;
    background: transparent url('../img/small-down-arrow-active.png') no-repeat right;
}
.menu a.sub_menu {
    color: #222129;
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.menu a.sub_menu:hover {
    background-color: #eeeeee;
    color: #5173ff;
}

.flexslider {
    height: 592px;
    overflow: hidden;
    min-width: 940px;
    border: none;
    padding: 0;
    webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    margin: 0;
    border-bottom: 4px solid #FFBE00;
}

.flexslider .slides img {
    top: -50%;
}
.flex-direction-nav a {
    margin: -20px 60px 0 60px;
}
.container {
    margin-top: -150px;
    background-color: white;
    z-index: 100;
    position: relative;
    padding: 10px 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}
.menu-list {
    margin-top: 20px;
}
.sponsor-logo {
    width: 215px;
    height: 53px;
    float: left;
}
.sponsor-logo:hover {
    background-position: 0 -57px;
}
.sponsor-logo span {
    visibility: hidden;
}
.box-sponsors {
    margin: 40px 0;
}