<!DOCTYPE html>
<html lang="en">
{% load cms_tags %}
{% load sekizai_tags %}
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block meta_title %}PyUy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Python Uruguay{% endblock %}">
    <meta name="author" content="PyUy">

    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    {% block css %}{% endblock %}
    {% render_block "css" %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="{% block class %}{% endblock %}">
    {% cms_toolbar %}
    <header>
        <a class="logo" href="/">
            <span class="icon"><img src="{% static 'img/python-logo.png' %}" /></span>
            <span class="text">Python</span>
            <span class="text">Uruguay</span>
        </a>
        <ul>
            {% block menu %}
            {% placeholder "menu" %}
            {% endblock %}
        </ul>
    </header>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="span8 pull-right">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% placeholder content %}
                    {% block content %}{% endblock %}
                    <footer class="footer">
                        <p class="pull-right"><a href="#">Back to top</a></p>
                        {% block footer %}
                        <p>Python Uruguayan Group 2012</p>
                        {% endblock %}
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'jquery/js/jquery.js' %}"></script>
    <script src="{% static 'jquery/js/jquery-ui.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    {% render_block "js" %}
    {% block js %}{% endblock %}
</body>
</html>