<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
    <html lang="en"><head>
    <meta charset="utf-8">
    <title>{% block title %}PyUy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% render_block "css" %}
</head>

<body>
{% cms_toolbar %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a class="brand" href="/news">PyUy</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="/accounts/log_out">Log out</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/accounts/login">Log in</a>
                    </li>
                    <li>
                        <a href="/password/reset">Forgot password?</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="">
                        <a href="/accounts/profile">Profile</a>
                    </li>
                    {% else %}
                    <li class="">
                        <a href="/accounts/login?next=/accounts/profile/">Profile</a>
                    </li>
                    {% endif %}
                    <li class="">
                        <a href="/sign_up">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section>
        <div class="row">
            <div class="span4">
                {% block sub_title %}
                    <div class="row">
                        <h1>PyUy</h1>
                    </div>
                        <a href="/pycon"><h3>PyCon 2012</h3></a>
                {% endblock %}
                {% placeholder introduction_content %}
                {% block introduction_content %}{% endblock %}
                <div class="row">
                    {% placeholder map_content %}
                    {% block map_content %}{% endblock %}
                </div>
            </div>
            <div class="span 8">
                {% block message %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
    <section>
        <footer class="footer">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>Sophilabs 2012</p>
        </footer>
    </section>
</div>
{% render_block "js" %}
</body>
</html>