{% extends 'base.html' %}
{% load cms_tags %}
{%block title %}Log in{% endblock %}
{% block menu %}
{% show_placeholder "menu" "home" %}
{% endblock %}
{% block content %}
<section>
    <div class="page-header">
        <h1>Log in</h1>
    </div>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label>Email:</label>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.password.errors }}
            <label>Password:</label>
            {{ form.password }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</section>
{% endblock %}