{% extends 'base.html' %}

{% load cms_tags %}
{% load i18n %}
{% load url from future %}

{% block meta_title %}{% trans "Password reset" %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans "Password reset" %}{% endblock %}

{% block menu %}
{% show_placeholder "menu" "index" %}
{% endblock %}

{% block content %}
{% if validlink %}
<div class="page-header">
    <h1>{% trans 'Enter new password' %}</h1>
</div>
<div class="row">
    <div class="span8">
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form method="post" class="well form-horizontal">
            <fieldset>
                {% csrf_token %}
                {{ form }}
                <div class="form-actions">
                    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
                    <a class="btn" href="/">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% else %}
<div class="page-header">
    <h1>{% trans 'Password reset unsuccessful' %}</h1>
</div>
<div class="row">
    <div class="span8">
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    </div>
</div>
{% endif %}
{% endblock %}
