{% extends 'base.html' %}

{% load cms_tags %}
{% load i18n %}
{% load url from future %}

{% block meta_title %}{% trans "Profile" %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans "Profile" %}{% endblock %}

{% block menu %}
{% show_placeholder "menu" "index" %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ user.username }}'s profile</h1>
</div>
<div class="row">
    <div class="span8">
        <form method="post" class="well form-horizontal">
            <fieldset>
                {% csrf_token %}
                {{ form }}
                <div class="form-actions">
                    <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
                    <a class="" href="{% url 'account:password_change' %}">Change password</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}