body {
    font-family: PT Sans;
}
.menu-box {
    width: 940px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -470px;
}

.logo > .icon {
    width: 74px;
    height: 106px;
    left:0px;
    float: left;
}
.logo > .text {
    display: inline-block;
    margin: 10px;
    font-size: 20pt;
    color: white;
    font-weight: bold;
}
.logo > .text-italic {
    display: inline-block;
    margin: 10px;
    font-size: 18pt;
    font-family: Homemade Apple;
    color: white;
}
.logo:hover {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    top:0;
    width: auto;
}

.form-horizontal textarea {
    height: 60px;
    width: 80%;
}

.row {
    margin-top: 40px;
}

.box-red {
    background-color: #ffeebb;
}

.box-blue {
    background-color: #e5eef8;
}

.box-title {
    color: #094ba4;
}
.box-text {
    padding:20px;
}
.box-red > .text-top {
    color: #5b4401;
    font-size: 18pt;
}
.box-red > .text-bottom {
    color: #c59919;
    font-size: 18pt;
}
.box-blue > .text-top {
    color: #094ba4;
    font-size: 18pt;
}
.box-blue > .text-bottom {
    color: #3389fe;
    font-size: 18pt;
}

.small {
    margin-left: 10px;
    color: #6fa8e7;
}

.boton {
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
}

.boton:hover, .boton:visited, .boton:link {
    text-decoration: none;
    color: white;
}

.boton-red {
    background-color: #ffbe00;
}
.boton-red:hover {
    background-color: #DDA500;
}

.boton-blue {
    background-color: #094ba4;
}
.boton-blue:hover {
    background-color: #093E7C;
}

footer {
    min-width: 940px;
    width: 100%;
    height: 60px;
    background-color: #094ba4;
    color: white;
    margin: 30px 0 0 0;
}
footer a{
    margin: 10px;
    color: white;
}
footer a:hover {
    color: white;
    text-decoration: none;
}

footer .rights {
    color: #5689c8;
}

ul li ul {
    position: absolute;
    display: none;
}
ul li:hover ul {
    display: block;
    margin: 0;
    background-color: white;
}
ul li:hover {
    background-color: white;
}
li {
    list-style: none;
}

.menu a {
    display: block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}
.menu-normal a {
    display: block;
    margin: 0;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    color: white;
}
.menu-normal:hover a{
    color: #094ba4;
}

.menu:hover > a {
    color: #094ba4;
}

.menu > a {
    color: white;
    padding: 5px 50px 5px 25px;
    background: transparent url('../img/small-down-arrow-active.png') no-repeat right;
}
.sub_menu {
    color: #222129;
    background-color: white;
    width: 100%;
    height: 100%;
}
.sub_menu:hover {
    background-color: #b8c6ff;
    color: #5173ff;
}
.flexslider .slides img {
    top: -50%;
    margin-top: -270px;
}
.flexslider {
    height: 540px;
    overflow: hidden;
    min-width: 940px;
}