{% extends 'base.html' %}

{%block title %}Profile{% endblock %}

{% block content %}
<section>
    <div class="page-header">
        <h1>{{ user.username }}'s profile</h1>
    </div>
    {% block message %}{{ block.super }}{% endblock %}
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.first_name.errors }}
            <label>First name:</label>
            {{ form.first_name }}
        </div>
        <div class="fieldWrapper">
            {{ form.last_name.errors }}
            <label>Last name:</label>
            {{ form.last_name }}
        </div>
        <div class="fieldWrapper">
            <label>Password:</label>
            <a href="/password/change/" >Change password</a>
        </div>
        <div class="fieldWrapper">
            {{ form.email.errors }}
            <label>Email:</label>
            {{ form.email }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</section>
{% endblock %}