{% extends 'index.html' %}
{% load cms_tags %}

{% load i18n %}
{% load url from future %}

{% block meta_title %}{% trans "Send a proposal" %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans "Send a proposal" %}{% endblock %}

{%block title %}Proposals{% endblock %}

{% block menu %}
{% show_placeholder "menu" "home" %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Send a proposal" %}</h1>
</div>
<div class="row">
    <div class="span8">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% if formS %}
                <h3>About you:</h3>
                {{ formS }}
            {% endif %}
            <h3>Your proposal:</h3>
            {{ formP }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}