{% extends "base.html" %}

{% load cms_tags %}

{% load cms_tags %}
{% load sekizai_tags %}
{% load background_tags  %}
{% load static from staticfiles %}

{% block menu %}
    {% show_placeholder "menu" "pycon" %}
{% endblock %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/pycon.css' %}" rel="stylesheet">
{% endblock %}

{% block logo %}
<a class="logo" href="/pycon">
    <span class="icon"><img src="{% static 'img/pycon-logo.png' %}" /></span>
    <span class="text">PyCon</span>
    <span class="text">Uruguay</span>
    <span class="text">2012</span>
</a>
{% endblock %}