{% extends 'pycon2012.html' %}

{% load i18n %}

{% block meta_title %}{% trans 'Home' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'PyCon Home' %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="row">
        <div class="span6 pull-left">
            <h1 class="box-title">{% trans 'About' %}<small class="small">{% trans 'What is PyCon Uruguay?' %}</small></h1>
            <p class="box-text">Icing dragée topping brownie jelly. Muffin lollipop pastry. Candy canes lollipop caramels candy canes topping halvah wafer chocolate. Bonbon macaroon pastry. Chupa chups ice cream soufflé dessert sugar plum jelly beans gingerbread gummi bears brownie. Applicake dessert chocolate bar biscuit.</p>
            <a href="#" class="boton boton-red">{% trans 'Go to Schedule' %}</a>
        </div>
    </div>
    <div class="row">
        <div class="span6 pull-left">
            <h1 class="box-title">{% trans 'When' %}<small class="small">{% trans 'Wich appointments should I cancel?' %}</small></h1>
            <div class="box-text box-red">
                <p class="text-top">Jelly liquorice carrot cake.</p>
                <p class="text-bottom">Cupcake danish apple pie tootsie roll I love candy sweet tart. Carrot cake I love gingerbread brownie I love jelly I love. </p>
            </div>
            <a href="#" class="boton boton-red pull-right">{% trans 'Schedule it' %}</a>
        </div>
        <div class="span6 pull-left">
            <h1 class="box-title">{% trans 'Where' %}<small class="small">{% trans 'Take me there!' %}</small></h1>

            <div class="box-text box-blue">
                <p class="text-top">Jelly liquorice carrot cake.</p>
                <p class="text-bottom">Cupcake danish apple pie tootsie roll I love candy sweet tart. Carrot cake I love gingerbread brownie I love jelly I love. </p>
            </div>
            <a href="#" class="boton boton-blue pull-right">{% trans 'Register now' %}</a>
        </div>
    </div>
    <div class="row">
        <div class="span12 pull-left">
            <h1 class="box-title">{% trans 'Sponsors' %}<small class="small">{% trans 'Which important companies are behind this?' %}</small></h1>
            <div class="container">
                {% regroup sponsor_list|dictsort:"level" by level as sponsors_ordered %}
                {% for sponsor in sponsors_ordered %}
                {% if forloop.first %}<div class="row">{% endif %}
                <div class="span2">
                {{ sponsor }}
                </div>
                {% if forloop.counter|divisibleby:6 %}
                </div><div class="row">
                {% endif %}
                {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}