<!DOCTYPE html>
<html lang="en">
{% load cms_tags %}
{% load sekizai_tags %}
{% load background_tags  %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block meta_title %}PyCon Uruguay 2012{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}PyCon Uruguay 2012{% endblock %}">
    <meta name="author" content="PyCon">

    {% block css %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/background.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css">
    <link href="{% static 'css/pycon.css' %}" rel="stylesheet">
    {% endblock %}
    {% render_block "css" %}

</head>
<body class="{% block class %}{% endblock %}">
    {% cms_toolbar %}
    <header>
        <div class="flexslider">
            <ul class="slides">
                {% backgrounds 'pycon2012' %}
                {% for background in backgrounds %}
                <li>
                    <img src="{{ background.image.url }}" />
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu-box">
            <div class="row">
                <div class="span4">
                    {% block logo %}
                    <a class="logo" href="{% url 'pycon2012:index' %}">
                        <span class="icon"><img src="{% static 'img/pycon-logo.png' %}" /></span>
                        <span class="text">PyCon 2012</span>
                        <span class="text-italic">Uruguay</span>
                    </a>
                    {% endblock %}
                </div>
                <div class="span8 pull-right">
                    <ul>
                        <li class="menu-normal pull-left">
                            <a href="{% url 'pycon2012:index' %}">{% trans 'About' %}</a>
                        </li>
                        <li class="menu pull-left">
                            <a href="{% url 'account:sign_up' %}">{% trans 'Registration' %}</a>
                            <ul>
                                {% if user.is_authenticated %}
                                    <li><a class="sub_menu" href="{% url 'account:sign_out' %}">{% trans 'Sign Out' %}</a></li>
                                    <li><a class="sub_menu" href="{% url 'account:profile' %}">{% trans 'Profile' %}</a></li>
                                {% else %}
                                    <li><a class="sub_menu" href="{% url 'account:sign_up' %}">{% trans 'Sign Up' %}</a></li>
                                    <li><a class="sub_menu" href="{% url 'account:sign_in' %}">{% trans 'Sign In' %}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="menu pull-left">
                            <a href="#">{% trans 'Schedule' %}</a>
                            <ul>
                                <li><a class="sub_menu" href="{% url 'pycon2012:index' %}">{% trans 'Conference Schedule' %}</a></li>
                                <li><a class="sub_menu" href="{% url 'pycon2012:proposal_add' %}">{% trans 'Send porposal' %}</a></li>
                            </ul>
                        </li>
                        </li>
                        <li class="menu pull-left">
                            <a href="#">{% trans 'Venue' %}</a>
                            <ul>
                                <li><a class="sub_menu" href="{% url 'pycon2012:index' %}">{% trans 'The Place' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">{% trans 'Back to top' %}</a></p>
            <p class="pull-right"><a href="index">{% trans 'About' %}</a></p>
            <p class="pull-right"><a href="sign_up">{% trans 'Registration' %}</a></p>
            <p class="pull-right"><a href="index">{% trans 'Schedule' %}</a></p>
            <p class="pull-right"><a href="#">{% trans 'Sponsors' %}</a></p>
            <p class="pull-right"><a href="#">{% trans 'Venue' %}</a></p>
            {% block footer %}
            <p class="rights">PyCon Uruguay Copyright © 2012. All rights reserved.</p>
            {% endblock %}
        </div>
    </footer>
    {% block js %}
    <script src="{% static 'jquery/js/jquery.js' %}"></script>
    <script src="{% static 'jquery/js/jquery-ui.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
            $('.flexslider').flexslider();
        });
    </script>
    {% endblock %}
    {% render_block "js" %}
</body>
</html>