{% if instance.condition == 'always' %}
    <li>
        <a class="{{ instance.a_class }}" id="{{ instance.a_id }}" href="{{ instance.a_link }}">{{ instance.name }}</a>
    </li>
{% else %}
    {% if request.user.is_authenticated %}
        {% if instance.condition == 'authenticated' %}
            <li>
                <a class="{{ instance.a_class }}" id="{{ instance.a_id }}" href="{{ instance.a_link }}">{{ instance.name }}</a>
            </li>
        {% endif %}
    {% else %}
        {% if instance.condition == 'not_authenticated' %}
            <li>
                <a class="{{ instance.a_class }}" id="{{ instance.a_id }}" href="{{ instance.a_link }}">{{ instance.name }}</a>
            </li>
        {% endif %}
    {% endif %}
{% endif %}





